*{
  margin: 0%;
  padding: 0%;
}
html{
  font-size: clamp(7.5px,1vw,10px);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
  background-color: #f3ece6;
}

.nav-text{
  font-size: 2rem;
  color: black !important;
  font-weight: 600;
}
.nav-text:hover{
  color: rgb(60, 14, 177) !important;
  font-weight: 600;
}

.banner .content h1{
  font-size: 8.1rem;
  width: 50%;
  margin-top: 5rem;
}
.brand-select{
 font-size: 2rem;
 margin-top: 2rem;
 height: 5rem;
}
.brand-select button{
 width: 5rem;
 font-size: 2rem;
}

.banner__buttons .btn-1{
  font-size: 2.4rem;
  margin-top: 2rem;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-right: 5rem;
  border: white;
}
.banner__buttons .btn-2:hover{

  background-color: black;
  color: white;

}
.banner__buttons .btn-2{
  font-size: 2.4rem;
  margin-top: 2rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-left: 5rem;
  padding: 1rem 2rem;
}
.banner__buttons .btn-1:hover{
  
  background-color: white;
  color: black;
  border: 2px solid black;
  
}
.portfolio{
  margin-top: 5rem;
}
.collections__item h3{
  font-size: 1.8rem;
  color: #a57d59;
}
.collections__item strong{
  font-size: 3rem;
}
.collections__item{
  margin-top: 5rem;
}
.collections__item:hover{
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5), 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.portfolio-btn{
  background-color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width:fit-content;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}
.portfolio-btn:hover{
  background-color: rgb(8, 8, 8);
  color: white;

  width:fit-content;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}
.card-item{
  background-image: url(asset/Image_1.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.491);
  background-repeat: no-repeat;
}
.imag_box{
  height: 40rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.imag_box h3{
  font-size: 3rem;
  color: white;
  width: 70%;
  margin-bottom: 5rem;
}
.imag_box button{
  font-size: 1.8rem;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(128, 128, 128, 0.693);
  padding: 1.5rem 4rem;
}
.imag_box button:hover{
  color: black;
  background-color: white;
}
.imag_box-1{
  background-image: url(asset/Image_2.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.491);
  background-repeat: no-repeat;
}
.imag_box-2{
  background-image: url(asset/Image_1.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.491);
  background-repeat: no-repeat;
}
.form{
  background-color: #c8aead;
}
.form-contents{
  width: 50%;
  max-width: 70rem;
}
.form-contents h2{
  font-size: 4rem;
  font-weight: 600;
}
.form-contents input{
  font-size: 2.4rem;
  border-radius: 0%;
}
.form-contents input::placeholder {
  color: #000000;
}
.form-btn{
  margin-top: 5rem;
  width: 20rem;
  border: 3px solid rgba(225, 225, 225, 0.759);
  padding: 1rem 2rem;
  background-color: transparent;
}
.form-btn:hover{
  color: rgb(255, 255, 255);
  background-color: transparent;
}
.footer__copy span{
  font-size: 1.7rem;
  color: #686868;
}
footer p ,footer a {
  font-size: 1.7rem;
}
.footer__icons a i{
  background-color: #000000;
  color: white;
  padding: 1rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
footer a{
  text-decoration: none;
}
footer h6{
  font-size: 2.6rem;
}